/* 
https://piccalil.li/blog/a-modern-css-reset 
Has some changes by Kevin Powell, taken from:
https://github.com/kevin-powell/fem-manage-landing-page-part-1/blob/master/style.css#L44
https://www.youtube.com/watch?v=h3bTwCqX4ns&ab_channel=KevinPowell
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My styles */

@font-face {
  font-family: 'Parkinsans';
  src: url('./fonts/Parkinsans-VariableFont_wght.ttf');
  font-weight: 300 800; /* Light, Regular, Medium, SemiBold, Bold, ExtraBold */
  font-style: normal;
}

:root {
  /* Colors */
  --hue: 160;
  --primary-color: hsl(var(--hue), 50%, 10%);
  --pre-primary-color: hsl(var(--hue), 50%, 15%);
  --tertiary-color: hsl(calc(160 + 300), 80%, 80%);
  --accent-color: hsl(220, 50%, 60%);

  --text-primary-color: hsl(var(--hue), 50%, 90%);
  --text-secondary-color: hsl(0, 0%, 34%);

  /* Fonts */
  --ff: 'Parkinsans', sans-serif;
  --fw-thin: 300;
  --fw-regular: 500;
  --fw-bold: 800;

  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 20px;
  --fs-5: 28px;
  --fs-6: 36px;
}

body {
  font-family: var(--ff);
  background-color: var(--primary-color);
  color: var(--text-primary-color);
}

h1 {
  font-size: var(--fs-6);
  display: inline;
}

.tehe {
  font-size: var(--fs-1);
  font-weight: var(--fw-thin);
  color: var(--accent-color);
  font-style: italic;
}

.title-container {
  padding-top: 32px;
}

.locationinfo-sec {
  margin-top: 64px;
}

.title-container,
.location-long {
  text-align: center;
  font-weight: var(--fw-bold);
}

.location {
  font-size: var(--fs-5);
}

form {
  display: flex;
  justify-content: center;
}

.search-sec {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}

.f-c-container {
  margin-right: 8px;
  position: relative;
  height: 24px;
  width: 50px;
}

.f-c-icon-border {
  height: 24px;
  width: 50px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  position: absolute;
}

.fci {
  height: 24px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-1);
}

.f-c-icon-left {
  border-right: 1px solid black;
  cursor: pointer;
}

.f-c-icon-right {
  border-left: 1px solid black;
  cursor: pointer;
}

#f-to-c {
  width: 50px;
  height: 24px;
  display: none;
}

.accent-color {
  background-color: var(--accent-color);
}

#search {
  width: 400px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
  color: var(--text-primary-color);
  background-color: var(--pre-primary-color);
}

#search::placeholder {
  color: var(--text-primary-color);
}

#submit {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 16px;
  padding: 4px;
  background-color: var(--tertiary-color);
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
  cursor: pointer;
}

.weather-card {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  background-color: var(--pre-primary-color);
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
}

#description {
  margin: 20px 0;
  width: 650px;
  text-align: center;
  min-height: 48px;
}

#curr-conditions {
  font-size: var(--fs-5);
  font-weight: var(--fw-bold);
  color: var(--tertiary-color);
  white-space: wrap;
  width: 100%;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  padding: 4px;
  text-align: center;
}

.main-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mc,
.sc {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.75rem;
}

.sc {
  text-align: center;
}

.locationinfo-sec,
.mf-right {
  flex-direction: column;
}

.mf-right,
.mf-left {
  flex: 1;
}

.mf-right {
  height: 300px;
  width: 325px;
  flex-wrap: wrap;
}

.mf-left {
  height: 300px;
  width: 325px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.initial-gif-frame > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.initial-gif-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.dc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 5px 5px 5px;
  gap: 4px;
  width: 100%;
}

.wh {
  font-size: var(--fs-4);
  font-weight: var(--fw-regular);
}

.data {
  color: var(--accent-color);
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
}

#curr-temp {
  font-size: var(--fs-6);
}

#next5days {
  width: 500px;
  margin-top: 48px;
  border: 1px solid var(--tertiary-color);
  background-color: transparent;
  border-radius: 8px;
  padding: 4px;
  color: var(--text-primary-color);
  font-weight: var(--fw-thin);
}

#next5days:hover,
.close:hover {
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
}

button:active {
  transform: scale(0.95);
}

svg {
  padding-bottom: 4px;
}

.future-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: var(--text-primary-color);
  background-color: var(--pre-primary-color);
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  width: 250px;
}

.future-temp-text {
  font-size: var(--fs-6);
}

.future-weather-day-text {
  color: var(--tertiary-color);
}

.future-conditions-text {
  text-align: center;
}

.close {
  border: 1px solid var(--tertiary-color);
  background-color: transparent;
  border-radius: 8px;
  padding: 4px;
  color: var(--text-primary-color);
  font-weight: var(--fw-thin);
}

.future-weather-cards-container {
  background-color: var(--primary-color);
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 650px;
}

dialog[open] {
  display: block; /* Visible when 'open' attribute is present */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 16px;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
}
